* {
  background-color: #474440;
  color: #BFCAD0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app-container {
  margin: 0 auto;
  text-align: center;
}

.title {
  font-size: 2em;
}

.instructions {
  width: 55%;
  margin: 0 auto;
}

.form {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  border-style: inset black;
  border-radius: 10px;
  background-color: white;
  width: 40%;
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 1em;
}

label {
  color: black;
  background-color: white;
}

select {
  background-color: rgb(211, 211, 211);
  color: black;
  border-radius: 10px;
}

input {
  background-color: rgb(211, 211, 211);
  color: black;
  border-radius: 5px;
}

.form-main-label {
  background-color: white;
  padding-bottom: 15px;
}

.form-coinOne {
  background-color: white;
  padding-bottom: 5px;
}

.form-coinTwo {
  background-color: white;
  padding-bottom: 5px;
}

.form-units {
  background-color: white;
}

.form-output h3 {
  background-color: white;
  color: black;
}

footer {
  position: fixed;
  width: 100%;
  right: 0;
  bottom: 0;
  text-align: end;
  padding-right: 20px;
}

/* media sizings */

/* cell phone */
@media only screen and (max-width: 599px) {

  .title {
    font-size: 1em;
  }

  .instructions {
    width: 75%;
  }
  .form {
    width: 75%;
  }
}

/* table portrait */
@media only screen and (min-width: 600px) {

}

/* tablet landscape */
@media only screen and (min-width: 900px) {


}

/* desktop up */
@media only screen and (min-width: 1200px) {

}

/* them big ol screens */
@media only screen and (min-width: 1800px) {

}


@media only screen and (max-height: 800px) {
  .form {
    padding-bottom: 3.5em;
  }
}